.gitattributes text eol=lf
frontend/index.html text eol=lf
resources/ui/** text eol=lf
resources/manifests/ludusavi/manifest.yaml text eol=lf
resources/manifests/ludusavi/manifest-index.sqlite binary
